body{
    font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-size: 110%;
}

header{
    background-color: aqua;
}

nav{
    background-color: greenyellow;
}

main{
    background-color: gold;
    font-size: large;
}

footer{
    background-color: burlywood;
}

li{
    display: flex;
    width: 50%;

}

h1{
    text-align: justify;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: cornflowerblue;
}
   
p{
    line-height: 140%;
}