body{
    font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-size: 110%;
    background-color: blanchedalmond;
}

header{
    background-color: rgb(186, 186, 186);
}

nav{
    display: inline-block;
    vertical-align: top; 
    width: 80%;
}

nav ul{
    display: inline-block;
    width: 80%;
}

nav ul li{
    display: inline-block;
    margin-right: 10%;
}

nav img{
    width: 10%;
}

main{
    background-color: gold;
    font-size: large;
}

footer{
    background-color: burlywood;
}

/*li{
    display: flex;
    width: 50%;

}*/

h1{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: cornflowerblue;
}
   
p{
    line-height: 140%;
}

.grid{
    display:grid;
    grid-template-columns: 40% 40%;
    justify-content: space-around;
    align-items: center;
    row-gap: 10px;
}

.grid img{
    width: 100%;
}

.flex{
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    justify-content: center;
}